<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <group ns="chcnav">

        <!-- hc_msg_parser_launch_node  -->
        <node pkg="chcnav" type="hc_msg_parser_launch_node" name="c_rs232" output="screen">
            <!-- serial settings -->
            <param name="type" value="serial"/>
            <param name="rate" value="1000"/>
            <param name="port" value="/dev/ttyUSB0"/>
            <param name="baudrate" value="460800"/>
            <!-- serial settings end -->
        </node>

        <!-- hc_cgi_protocol_process_node -->
        <node pkg="chcnav" type="hc_cgi_protocol_process_node" name="hc_topic_driver" output="screen"/>

        <node pkg="chcnav" type="bestpos_process_node" name="bestpos_process_node" output="screen"/>

        <!-- ntrip_server -->
        <node pkg="chcnav" type="ntrip_server_launch_node" name="ntrip_server" output="screen">
            <param name="frame_id" value="c_rs232"/>
            <param name="login_type" value="third_cors"/>
            <param name="host" value="119.3.136.126"/>
            <param name="port" value="8002" type="string"/>
            <param name="mountpoint" value="RTCM33"/>
            <param name="username" value="abcd1234"/>
            <param name="password" value="12345678" type="string"/>
            
			<!-- 下面的c_rs232是frame_id，需要和上面的一致 -->
            <remap from="/chcnav/ntrip_server/differential_data" to="/chcnav/c_rs232/write"/>
            <remap from="/chcnav/ntrip_server/ntrip_source" to="/chcnav/nmea_sentence"/>
        </node>
    </group>
</launch>